<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <appSettings>
      <!--
      #######################
         Global parameters
      #######################-->
      
      <add key="DebugMode" value="true"/>
      <add key="LRS_URI" value="http://saas.learninglocker.net/data/xAPI"/>
      <!--Production LRS:-->
      <add key="LRS_User" value="{USER}"/>
      <add key="LRS_Password" value="{PASSWORD}"/>

      <!-- DaemonMode: {push|pull}. Default=push -->
      <!--<add key="DaemonMode" value="push"/>-->
      <add key="DaemonMode" value="pull"/>

      <!--
      #####################
         Pull parameters
      #####################-->

      <!-- DaemonModePullType: {file|database}. Default=file. Database not yet supported -->
      <add key="DaemonModePullType" value="file"/>
      <!-- KeepEmptyPullFiles: {true|false}. Default=false. If true the results will contain empty files for periods without activity. -->
      <add key="KeepEmptyPullFiles" value="false"/>
      
      <!-- DaemonModePullFromDate: Format: yyyy-MM-dd 
              Special values: (if used, DaemonModePullUntilDate is ignored)
                      "yesterday": Sets period to the entire past day (from 00:00 to midnight)
                      "today": Sets period to the current day (from 00:00 to midnight). Note that this mode will not give full results, since today is still in progress.
      -->
      <add key="DaemonModePullFromDate" value="2017-02-12"/>
      <!-- DaemonModePullUntilDate: Format: yyyy-MM-dd -->
      <add key="DaemonModePullUntilDate" value="2017-06-25"/>
      
      <!--
      #####################
         Push parameters
      #####################-->
      
      <add key="AnonimizeUsers" value="true"/>
      <add key="OutputToFile" value="true"/>
      <add key="OutputToLRS" value="false"/>
      <!--<add key="StudentGroupFilter" value="UHasselt_student_1617_sem1"/>-->
      <add key="StudentGroupFilter" value="{FILTER}"/>
      <add key="LimitStartIndex" value="0"/>
      <add key="LimitOffset" value="1000"/>
      <add key="PlatformVersion" value="1.0.0.0"/>
      <!-- Limit the student we send to the LRS, based on presence of the LogAgentId in the LogAgentLRSFilter table -->
      <add key="EnableStudentFilter" value="false"/>
      <!-- DaemonModePushFromDate: Format: yyyy-MM-dd -->
      <add key="DaemonModePushFromDate" value="2017-02-12"/>
      <!-- DaemonModePushUntilDate: Format: yyyy-MM-dd -->
      <add key="DaemonModePushUntilDate" value="2017-06-25"/>

      <!--
      #####################
         JSON to CSV conversion parameters
      #####################-->

      <!-- ConversionMode: {listColumns|convert|both}. Default='both' if ConversionColumnsFilename does not exist, otherwise 'convert'. -->
      <add key="ConversionMode" value="convert"/>
      <add key="ConversionSourceFolder" value="ConvertSource"/>
      <add key="ConversionOutputCsvFilename" value="output"/>
      <add key="ConversionColumnsFilename" value="output-columns.conf"/>
      
    </appSettings>

  <!--Enable on production server:-->
    <connectionStrings>
      <add name="LMGAnalyticsContext" connectionString="driver={SQL Server};server={IP}\\{DATABASE},{PORT};database={DATABASE INSTANCE};uid={USER};pwd={PASSWORD};" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
