@*
    Project VITAL.Dashboard
    Copyright (C) 2017 - Universiteit Hasselt
    This project has been funded with support from the European Commission (Project number: 2015-BE02-KA203-012317). 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@{
    ViewBag.Title = "Login";
    ViewBag.RequireD3 = true;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    body {
        /*padding-top: 40px;*/
        /*padding-bottom: 40px;*/
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        /*padding: 10px;*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .error-panel {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid red;
        background-color: pink;
        color: red;
        font-weight: bold;
    }

    .mainbox {
        /*padding-top: 0;*/
    }
    .highlight {
        color: #e8425e;
        font-weight: bold;
    }
     #body-container {
            background-color: white;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
        }
</style>

<div class="mainbox">
    <div class="region-top">
        <div class="" style="padding-top: 10px;">
            <div class="col-md-3" style="padding: 0;">
                <div class="col-md-12 login">
                    <div style="text-align: center;">
                        @if (Request.Url.Host.ToLower().Contains(".uclan."))
                        {
                            <img src="/Content/Images/logo-uclan.gif" alt="" style="height: 140px;" />
                        }
                        else if (Request.Url.Host.ToLower().Contains(".uva."))
                        {
                            <img src="/Content/Images/logo-uva-compact.jpg" alt="" />
                        }
                        else
                        {
                            <img src="/Content/Images/logo-uhasselt.png" alt="" style="height: 140px;" />
                            @*<img src="/Content/Images/logo-uhasselt-compact.png" alt="" style="height: 60px;" />*@
                        }
                    </div>

                    <h2>Sign in@*@(LMG.Student.Presentation.Resources.Shared.login_title)*@</h2>
                    <div> @* class="form-signin" role="form" method="post">*@
                        Username
                        <input type="text" class="form-control" placeholder="User Name" autofocus name="x_username">
                        Password
                        <input type="password" class="form-control" placeholder="Password" name="x_password">

                        @*                  @if (!string.IsNullOrWhiteSpace(ViewBag.LoginError))
                        { 
                            <div class="error-panel">
                                @Html.Raw(ViewBag.LoginError)
                            </div>
                        }*@
                        <a href="#" class="btn" onclick="attemptSignIn();" @*type="submit"*@>Sign in</a>

                        @*<button class="btn button-password" type="button" data-toggle="modal" data-target="#myModalPasswordDialog" >@(LMG.Student.Presentation.Resources.Shared.action_forgot_password)</button>    *@
                    </div>
                </div>
            </div>

            <div class="col-md-9" style="">
                <img src="/Content/Images/logo-vital.png" alt="Vital" />
                <h1>Learning dashboard</h1>
                <p>
                    Dear student,
                </p>
                <p>
                    The European VITAL project coordinated by Hasselt University/in which UCLan/UvA participated has led to the implementation of Learning Analytics in the course “Economisch & Zakelijk Frans”/”Français des Affaires 1 and 2"/course x. 
                    <strong>Learning Analytics</strong> is a new research domain that consists in collecting, measuring, analysing and reporting data about online learning in order to better understand and optimise learning and the environment in which it occurs.
                    Your learning activities in the online learning environment for the course of “Economisch & Zakelijk Frans”/”Français des Affaires 1 and 2"/course x, and those of your fellow students, have been analysed using statistical & process mining techniques and learning dashboards have been developed. 
                </p>
                <p>
                    <strong>Log in and use the login and personal password you received from your instructor</strong> to get an overview of your learning progress and behaviour. Only you and your instructor can see your learning data, not your fellow students. Your password is strictly personal. 
                    When you have logged in, you see your own results. Apart from those, you can only see the group averages, not anyone other’s individual results. 
                    <strong>Select "All students"</strong> in the scroll menu at the top of the screen to see the averages of all students in the course or of your own group.

                </p>
                <p>
                    The graphs you see display information about your engagement in the online learning environment and your progress relative to the course schedule.
                    <br />
                </p>

                <ol>
                    <li>
                        The <span class="highlight">top counters</span> show your progress on a number of learner actions in the learning environment that most succesful students score higher on than non-successful students according to cluster analysis performed on former student data.
                        The data are generated and updated live following your online activity in the course (as long as the course runs). You can compare with average results if you wish so.
                        <br />
                        "completed exercises": exercises you accessed and also completed, after which you could view the correct solution. Take your time to study the correct solutions after finishing your last attempt and verify if you master the contents sufficiently. Repeat the activity later.
                        <br />
                        "% of activities completed": all activity on exercises and theory pages. On a purely quantitative level, these metrics don’t say anything about study success. It is as important to practise actively and to study and practise with a clear purpose. Retake the activities and contents you struggled with.
                    </li>
                    <li>
                        "<span class="highlight">Activity timing</span>" shows your activity (main activity types in the online learning environment) on a timeline. Shows whether you work online regularly and which activity types you perform most. Peaks before a dotted vertical line indicate that you have been more active before a group session. 
                        <br />
                        Indeed, preparing on a regular basis for each group session is a requirement for this course.
                    </li>
                    <li>
                        "<span class="highlight">Course schedule & progress</span>" visualises your progress on the program of each week in the course schedule (exercises + theory pages; see course schedule on Blackboard). The further the green level, the more contents of a particular week you went through. Orange shows the amount of learning contents still to use. The horizontal lines indicate the group averages.
                        <br />
                        Know that yet again the number of viewed contents alone does not tell you anything about the quality of learning. It is important to repeat as much as necessary and to have an active learning attitude to succeed for the course. 
                    </li>
                    <li>
                        "<span class="highlight">Activity by chapter</span>" shows the way your attention on the course contents during semester was spread over the different chapters in the course. Larger bubbles mean that more activity was generated on specific chapters and each chapter is represented by a different colour. 
                        <br />
                        Since you are expected to prepare for each work session, the bubbles should roughly follow the course schedule during the course weeks. After the class period and during exam preparation, most students display a mixture of chapter activity, reviewing and retaking important course contents.
                    </li>
                </ol>
                <p>
                    As indicated in the course information in Blackboard, your data are used only for the purposes of supporting students in their online learning and optimising course design. They will NOT play a role in the final grading. These learning data only reflect your online learning behaviour and do not provide a complete image of your learning process. The data are interpreted always in the entire course context. More information about the confidential and ethical treatment of personal data can be found in this document. (cf. Action plan legal & ethical aspects of LA)
                </p>
            </div>

        </div>
    </div>
</div>

<script>
    function attemptSignIn() {
        var parameters = {};
        parameters["username"] = document.getElementsByName('x_username')[0].value;
        parameters["password"] = document.getElementsByName('x_password')[0].value;
        GetData('@ViewBag.ApiUrl/v1/Account/Login', _loginAttemptCompleted, parameters)
    };
   
</script>
