@*
    Project VITAL.Dashboard
    Copyright (C) 2017 - Universiteit Hasselt
    This project has been funded with support from the European Commission (Project number: 2015-BE02-KA203-012317). 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@{
    ViewBag.Title = "Dashboards";
    ViewBag.RequireD3 = true;
    ViewBag.HideFilters = true;
}

<div class="block-container">
    
    <style>
        
        /*#body-container*/ .block-container {
            min-height: 500px;
            text-align: left;
        }
        .partner-supported {
            border: 1px solid lightgray;
            font-size: 9px;
            font-weight: bold;
            color: red;
        }
        
    </style>
    <br />
    <ul>
@*        <li>
            <a href="/Dashboards/ActivityByDay">ActivityByDay</a>
        </li>
        <li>
            <a href="/Dashboards/ExerciseActivityByDay">ExerciseActivityByDay</a>
        </li>*@
@*        <li>
            <a href="/Dashboards/SessionActivityByDay">SessionActivityByDay</a>
        </li>*@
        <li>
            <a href="/Dashboards/ActivityByChapter">ActivityByChapter</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ActivityByTimeOfDay">ActivityByTimeOfDay</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ActivityByTypeByDay">ActivityByTypeByDay</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ActivityTypesByDay">ActivityTypesByDay</a>
            <span class="partner-supported">UH</span>
        </li>
        <li>
            <a href="/Dashboards/Counts">Counts</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ProgressStatusHorizontal">ProgressStatus (horizontal)</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ProgressStatusVertical">ProgressStatus (vertical)</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/TimeSpentByChapter">TimeSpentByChapter</a>
            <span class="partner-supported">UH</span>
        </li>
        <li>
            <a href="/Dashboards/TopTimeSpentByChapter">TopTimeSpentByChapter</a>
            <span class="partner-supported">UH</span>
        </li>
        <li>
            <a href="/Dashboards/Ranking">Rankings</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
        </li>
    </ul>
    <br />
</div>