@{
    ViewBag.Title = "Dashboards";
    ViewBag.RequireD3 = true;
    ViewBag.HideFilters = true;
}

<div class="block-container">
    
    <style>
        
        /*#body-container*/ .block-container {
            min-height: 500px;
            text-align: left;
        }
        .partner-supported {
            border: 1px solid lightgray;
            font-size: 9px;
            font-weight: bold;
            color: red;
        }
        
    </style>
    <br />
    <ul>
@*        <li>
            <a href="/Dashboards/ActivityByDay">ActivityByDay</a>
        </li>
        <li>
            <a href="/Dashboards/ExerciseActivityByDay">ExerciseActivityByDay</a>
        </li>*@
@*        <li>
            <a href="/Dashboards/SessionActivityByDay">SessionActivityByDay</a>
        </li>*@
        <li>
            <a href="/Dashboards/ActivityByChapter">ActivityByChapter</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ActivityByTimeOfDay">ActivityByTimeOfDay</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ActivityByTypeByDay">ActivityByTypeByDay</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ActivityTypesByDay">ActivityTypesByDay</a>
            <span class="partner-supported">UH</span>
        </li>
        <li>
            <a href="/Dashboards/Counts">Counts</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ProgressStatusHorizontal">ProgressStatus (horizontal)</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/ProgressStatusVertical">ProgressStatus (vertical)</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UCLan</span>
        </li>
        <li>
            <a href="/Dashboards/TimeSpentByChapter">TimeSpentByChapter</a>
            <span class="partner-supported">UH</span>
        </li>
        <li>
            <a href="/Dashboards/TopTimeSpentByChapter">TopTimeSpentByChapter</a>
            <span class="partner-supported">UH</span>
        </li>
        <li>
            <a href="/Dashboards/Ranking">Rankings</a>
            <span class="partner-supported">UH</span>
            <span class="partner-supported">UvA</span>
        </li>
    </ul>
    <br />
</div>