@*
    Project VITAL.Dashboard
    Copyright (C) 2017 - Universiteit Hasselt
    This project has been funded with support from the European Commission (Project number: 2015-BE02-KA203-012317). 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div class="tooltip_templates" style="display: none;">
    <span id="tooltip_counter_global">
        The <span class="highlight">counters</span> show a group or an individual’s current performance on a number of activities that are performed more by successful students according to the data analysis of former cohorts. 
        <br />These metrics are also shown to the students to stimulate them to do more of these activities. 
        <br />The data are generated and updated live following students’ online activity during the course (provided the course runs).
    </span>
    <span id="tooltip_counter_global_instructor">
        The counters show a group or an individual’s current performance on a number of activities that are performed more by successful students according to the data analysis of former cohorts. 
        <br />These metrics are also shown to the students to stimulate them to do more of these activities. 
        <br />The data are generated and updated live following students’ online activity during the course (provided the course runs).
    </span>
    <span id="tooltip_counter_accessed_resources">
        This counter shows the average number of times students in your group (on average) or you personally accessed module resources.
    </span>
    <span id="tooltip_counter_accessed_resources_instructor">
        This counter shows the average number of times students in your group (on average) or an individual student accessed module resources.
    </span>
    <span id="tooltip_counter_accessed_feedbacks">
        This counter shows the number of times students in your group (on average) or you personally accessed instructor feedback during the module.
    </span>
    <span id="tooltip_counter_accessed_feedbacks_instructor">
        This counter shows the number of times students in your group (on average) or an individual student accessed instructor feedback during the module.
    </span>
    <span id="tooltip_counter_activities_completed">
        This counter shows the number of times students in your group (on average) or you personally accessed module activities during the module.
    </span>
    <span id="tooltip_counter_activities_completed_instructor">
        This counter shows the number of times students in your group (on average) or an individual student accessed module activities during the module.
    </span>
    <span id="tooltip_counter_accessed_posts">
        This counter shows the number of times students in your group (on average) or you personally accessed posts during the module
    </span>
    <span id="tooltip_counter_accessed_posts_instructor">
        This counter shows the number of times students in your group (on average) or an individual student posted on the discussion fora during the module.
    </span>
    <div id="tooltip_graph_course_schedule">
        <span class="highlight">Course schedule & progress</span> visualises your progress on the program of each week in the course schedule (see course schedule on Blackboard). 
        <ul>
            <li>The further the green level, the more contents of a particular week you went through.  </li>
            <li>Red shows the amount of learning contents still to use.                             </li>
            <li>Yellow the total contents used by your peers.                                           </li>
            <li>The vertical blue lines indicate the group average per week.                              </li>
        </ul>
        Once again the number of viewed contents alone does not tell you anything about the quality of learning. 
        <br />It is important to engage as much as necessary and to have an active learning attitude to succeed on the course.
    </div>
    <div id="tooltip_graph_course_schedule_instructor">
        <span class="highlight">Course schedule & progress</span>: This graph shows the number of contents to be processed per week according to the course schedule. 
        <ul>
            <li>Green refers to the number of contents already processed by the group or by an individual student. Choose the course and a group or an individual student in the menus on top of the screen.  </li>
            <li>Red shows the amount of contents that have not been used yet.  </li>
            <li>In case of an individual student view, yellow refers to the total amount processed by the student’s peers,  </li>
            <li>blue refers to the group average and indicates whether the students has done more or less than the group average. </li> 
        </ul>
        Of course the number of viewed contents alone does not tell you anything about the quality of learning. 
        <br />It is important that students engage as much as necessary and have an active learning attitude to succeed on the course. Compare these data with the following graphs.
    </div>
    <span id="tooltip_graph_activity_timing">
        <span class="highlight">Activity timing</span> shows your activity (main activity types in the online learning environment) on a timeline. 
        <br />It indicates whether you work online regularly and which activity types you perform most. 
        <br />Dotted vertical lines indicate the dates on which you and your group had classes with your instructor. 
        <br />Peaks in activity indicate when you have been most active online.
    </span>
    <div id="tooltip_graph_activity_timing_instructor">
        <span class="highlight">Activity timing</span>: The 2nd graph shows the peaks in online activity on a timeline. 
        If you have selected a specific group or student, this group’s class hours are displayed as vertical dotted lines. 
        This allows you to validate whether the students have prepared for your class in advance (go over the lines with the mouse to see the name of the instructor and the class date). 
        The colours of the lines indicate the type of activity they have done: 
        <ul>
            <li>‘Accessed’ means they have accessed online resources/pages; </li>
            <li>‘Commented on’ means they posted comments on the discussion forum; </li>
            <li>‘Gave feedback on’ means students have accessed your instructor feedback. </li>
        </ul>
        For further details on e.g. how much time they spent on the resources, see the rankings of theory pages below.
    </div>
    <span id="tooltip_graph_activity_by_chapter">
        <span class="highlight">Activity by chapter</span> shows the way your attention on the course contents during semester was spread over the different course chapters. 
        <br />Larger bubbles mean that more activity was generated on specific chapters; each chapter is represented by a different colour. 
        <br />Since you are expected to prepare for each work session, the bubbles should roughly follow the course schedule during the course weeks. 
        <br />After the classes and during exam preparation, most students display a mixture of activity reviewing and retaking important course contents.
    </span>
    <span id="tooltip_graph_activity_by_chapter_instructor">
        <span class="highlight">Activity by chapter</span>: The 3rd graph shows coloured dots for the students’ actual activities on specific chapters on the course timeline. 
        <br />The larger the bubbles, the more activity was registered. 
        <br />The coloured backgrounds indicate which contents needed to be processed during which week according to the course schedule. 
        <br />White areas are lesson-free or exam preparation weeks. 
        <br />This graph allows you to verify whether students focus their online attention on the advised contents in accordance with the course schedule and in preparation for your classes. 
        <br />In the ‘All verbs’ menu, you can select the type of activity, e.g. did students access the resources or the feedback, did they comment on discussion fora.
    </span>
    <div id="tooltip_ranking_theory_multiplecriteria">
        The rankings for pages allow you to verify which resources students focus on most/least in terms of 
        <ol>
            <li>Average number of retakes for that exercise (repeated after a while), </li>
            <li>time spent on average on that exercise </li>
        </ol>
        The exercises are sorted from most to least based on a combination of these metrics. 
        <br />This helps you to identify problem areas that might require more explanation in class.
    </div>
    <span id="tooltip_ranking_student_performance_groups">
        These rankings allow you to identify which students have been the least (or the most) active in the past weeks. 
        <br />Research has confirmed that timely online activity, such as at least one session per week, correlates with study success. 
        <br />When students access the online materials before/for the weekly classes they have the best chances to get the most out of the face-to-face classes and to get a good result at the final exam. 
        <br />Students who are ranked on the “least active” list on the left score below the median or even lower quartile on one or more of the metrics of number of sessions, number of accessed resources and last login. 
        <br />These students might need to be “poked” or reminded to access their online learning materials for the course. 
        <br />In the individual student view, the position of the student in the (left or right) ranking compared to peers in his/her group is marked in yellow.
        <br />Remark: These rankings can vary from week to week following the changing degree of online activity. 
        <br />They only give an indication of the students’ online engagement and no conclusions should be taken from these ranking in terms of how well the student is doing, since he or she can also be engaged with the course contents off-line. 
        <br />Adversely, students ranked at the right on the most active list aren’t necessarily going to succeed for the final exam.
    </span>
    <span id="tooltip_ranking_student_performance_group_b">
        <span class="highlight">xxx</span>: 
    </span>
    <span id="tooltip_ranking_student_performance_group_a">
        <span class="highlight">xxx</span>: 
    </span>
</div>