<script>
    onDocumentReady(function () {
        _courseInstanceDataInitialize();
        //GlobalRebuildDataFunctions.push(_courseInstanceDataInitialize);//Do not push rebuild function into global rebuild mechanism (infinite loop)
    });
    function _courseInstanceDataInitialize() {
        var parameters = {};
        //parameters["courseinstanceid"] = GetSelectedCourseInstance();//"@(ViewBag.CourseInstanceId)";
        parameters["logagentid"] = Cookies.get('user-id');
        GetData('@ViewBag.ApiUrl/v1/Data/CourseInstances', _courseInstanceDataLoaded, parameters)
       }
    function _courseInstanceDataLoaded(error, data) {
        var $select = $('#x_courseInstanceSelect');
        $select.find('option').remove();
        data = JSON.parse(data);
        for(var obj in data){
            $select.append('<option value=' + data[obj].Id + '>' + data[obj].Name + '(' + data[obj].AcademicYear + ')</option>');
        }

        $select.off("change", _courseInstanceSelectionChanged);
        $select.on("change", _courseInstanceSelectionChanged);

        console.log("_courseInstanceDataLoaded");
        _courseInstanceSelectionChanged();
    }
    function _courseInstanceSelectionChanged() {

        var queue_courseInstance = d3.queue();
        queue_courseInstance.defer(rebuildData);//Also rebuild the other combo's, which frequently depend on the selected courseInstance
        queue_courseInstance.awaitAll(function (error) {
            ///alert('after');
            //  buildChart_@(ViewBag.Key)();
            console.log('rebuildData complete; starting rebuildCharts;');
            rebuildCharts();
        //GlobalRebuildFunctions.push(buildChart_@(ViewBag.Key));
        });



        //rebuildData();//Also rebuild the other combo's, which frequently depend on the selected courseInstance
        //rebuildCharts();
    }
    
</script>