@*
    Project VITAL.Dashboard
    Copyright (C) 2017 - Universiteit Hasselt
    This project has been funded with support from the European Commission (Project number: 2015-BE02-KA203-012317). 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div class="tooltip_templates" style="display: none;">
    
    <span id="tooltip_counter_global">
        De bovenste <span class="highlight">tellers</span> tonen je voortgang op handelingen in de leeromgeving waar de meeste geslaagde studenten in het verleden hoger op scoorden dan niet-geslaagde studenten.
        De data worden live gegenereerd en geüpdatet volgens je activiteiten in de online leeromgeving (zolang het opleidingsonderdeel loopt). Je kan vergelijken met gemiddelde resultaten als je dat wenst (kies dan ‘All students’).
    </span>
    <span id="tooltip_counter_global_instructor">
        De tellers tonen de voortgang van een individuele student of een groep op belangrijke handelingen in de leeromgeving. 
        <br />Het gaat om handelingen die door succesvolle studenten meer worden uitgevoerd volgens de resultaten van de data-analyse van vroegere studentencohortes. 
        <br />Deze statistieken worden ook aan de studenten zelf getoond om hen te stimuleren meer van deze activiteiten te doen. 
        <br />De gegevens worden gegenereerd en bijgewerkt op basis van de online activiteit van studenten in de loop van de cursus (zolang de cursus loopt).
    </span>
    <span id="tooltip_counter_completed_exercise">
        <span class="highlight">Completed exercises</span>: Neem je tijd om de juiste oplossingen na te kijken/in te studeren en controleer of je de inhouden voldoende beheerst. Oefen en probeer je score te verbeteren. Deze teller toont het aantal oefeningen die je opende en ook vervolledigde, waarna je de juiste oplossingen kon bekijken.
    </span>
    <span id="tooltip_counter_completed_exercise_instructor">
        <span class="highlight">Completed exercises</span>: geopende en ook vervolledigde oefeningen; de juiste oplossingen konden bekeken worden. 
        <br />Het aantal voltooide oefeningen van eerdere studentencohortes is positief gecorreleerd met studiesucces.
    </span>
    <span id="tooltip_counter_completed_exercise_70">
        <span class="highlight">Completed exercises (Score > 70%)</span>: Neem je tijd om de juiste oplossingen na te kijken/in te studeren en controleer of je de inhouden voldoende beheerst. Oefen en probeer je score te verbeteren. Deze teller toont het aantal oefeningen die je opende en ook vervolledigde met een goede score, waarna je de juiste oplossingen kon bekijken.
    </span>
    <span id="tooltip_counter_completed_exercise_70_instructor">
        <span class="highlight">Completed exercises (Score > 70%)</span>: geopende en ook vervolledigde oefeningen; de juiste oplossingen konden bekeken worden.  
        <br />De eindscore voor elk van deze oefeningen was meer dan 70%.
    </span>
    <span id="tooltip_counter_retakes">
        <span class="highlight">Retakes</span>: Uit vorige data bleek een positief verband tussen de examenuitslag en het aantal keren dat studenten oefeningen opnieuw maakten. Herneem de activiteiten die je belangrijk of moeilijk vond later.
    </span>

    <span id="tooltip_counter_perc_activities_completed">
        <span class="highlight">% of activities completed</span>: Week-per- week voortgang op alle activiteit op oefeningen en theoriepagina’s (op het einde van de cursus zie je het totaal van je activiteiten in Plurilingua voor het volledig semester). 
        Op een puur kwantitatief niveau, zeggen deze metrieken niets over studiesucces. 
        <br />Even belangrijk is het actief te oefenen, te herhalen en gericht te studeren en te oefenen. 
        Herneem de activiteiten en inhouden waar je het moeilijk mee had.
    </span>

    <span id="tooltip_counter_audio">
        Bij het leren van een taal is het belangrijk de taal te horen spreken door native speakers en ook zelf luidop te spreken. Beluister daarom alle audiobestanden. Spreek in de spreekoefeningen ook zelf de zinnen uit en neem je stem op om actief te vergelijken met de voorbeeldopname. 
    </span>
    <span id="tooltip_counter_audio_play_instructor">
        <span class="highlight">Average played audio fragments</span>: gezien het belang van voldoende input in de doeltaal en van het horen van de taal zoals die door moedertaalsprekers gesproken wordt voor het leren van een vreemde taal, worden de studenten geadviseerd om online zoveel mogelijk audiofragmenten af te spelen en een actieve luisterhouding aan te nemen.
    </span>
    <span id="tooltip_counter_audio_record_instructor">
        <span class="highlight">Average recorded voice fragments</span>: Naast de raad om actief te luisteren naar de geluidsfragmenten in de online cursus, worden de studenten ook aangemoedigd de zinnen van de RecordCompare-oefeningen hardop uit te spreken en de zinnen op te nemen. 
        <br />Zo kunnen ze hun eigen stem horen en hun productie vergelijken met de opname van een native speaker. 
        <br />Een oorzaak-effect relatie tussen het opnemen van de eigen stem en studiesucces kan niet worden aangetoond, maar het is zo dat geslaagde studenten meer gebruik maken van de stemopnamefunctie dan niet-geslaagde studenten.
    </span>
    <span id="tooltip_graph_activity_timing">
        <span class="highlight">Activity timing</span>: Op regelmatige basis voorbereiden voor elke responsiecollege/werkzitting is een vereiste om voor dit opleidingsonderdeel te slagen.
        <br />Deze grafiek toont je voornaamste activiteit op een tijdslijn. Het geeft een aanduiding van je regelmaat en welk type activiteiten je het meest uitvoert. 
        <br />Pieken vóór een verticale stippellijn vertellen dat je meer actief bent geweest voor een responsiecollege/werkzitting. 
        <br />Gebruik de grafiek om je voorbereiding in te plannen en te evalueren.
    </span>
    <div id="tooltip_graph_activity_timing_instructor">
        <span class="highlight">Activity timing</span>: De 2e grafiek toont op een tijdlijn pieken en dalen in online activiteit. 
        Als je een specifieke groep of student hebt geselecteerd, worden de lesuren van deze groep weergegeven als verticale gestreepte lijnen (ga met de muis over de lijnen om de docent en het uur te zien). 
        Zo kan je nagaan wanneer de studenten zich hebben voorbereid voor je colleges. 
        De kleuren van de lijnen geven het type activiteit aan dat zij hebben uitgevoerd: 
        <ul>
            <li>‘Accessed exercise’ (donkerblauw) betekent dat de studenten op een oefening hebben geklikt (maar niet noodzakelijkerwijs ook hebben gemaakt); </li>
            <li>‘Completed exercise’ (fuchsia) betekent dat ze de oefening volledig hebben gemaakt (tot 3 pogingen op een oefening) en dat de juiste oplossingen werden weergegeven; </li>
            <li>‘Accessed theory page’ (groen) betekent dat studenten de theoriepagina hebben geopend. </li>
        </ul>
        Nadere details over bv. hoeveel tijd ze hebben besteed aan de theorie, vind je in de ranglijst van theoriepagina's hieronder.
    </div>
    <div id="tooltip_graph_course_schedule">
        <span class="highlight">Course schedule & progress</span>: Probeer elke week de balk op groen te krijgen. Deze grafiek visualiseert je voortgang op het programma van elke week in de studieleidraad (oefeningen + theoriepagina’s; zie studieleidraad op Blackboard). 
        <ul>
            <li>Hoe meer groen, hoe meer inhouden je al bekeken hebt.                  </li>
            <li>Rood toont het aantal leerinhouden dat je nog moet gebruiken.                        </li>
            <li>Geel hoeveel je medestudenten in totaal gedaan hebben.                            </li>
            <li>De blauwe verticale lijntjes geven het groepgemiddelde voor een bepaalde week aan.   </li>
        </ul>
        Weet dat ook hier het aantal bekeken inhouden op zich niets vertelt over de kwaliteit van het leren. 
        <br />Het is belangrijk dat je een actieve leerhouding aanneemt, o.a. door de oefeningen effectief te maken, audio’s te gebruiken, de oplossingen en theorie te bestuderen, en te herhalen om goed voorbereid te zijn voor de responsiecolleges/werkzittingen en zo voor het opleidingsonderdeel te slagen. 
    </div>
    <div id="tooltip_graph_course_schedule_instructor">
        <span class="highlight">Cursuschema & voortgang</span>: 
        Deze grafiek toont het aantal inhouden (oefeningen + theorie) die per week (per groep weken) verwerkt moet worden zoals vermeld in het cursuschema. 
        <ul>
            <li>Groen = het aantal inhouden dat al door de groep of door een individuele student is verwerkt. Kies het opleidingsonderdeel, een groep of een individuele student in de menu's bovenaan het scherm. </li>
            <li>Rood = hoeveelheid inhouden die nog niet bekeken zijn (door niemand uit de groep). </li>
            <li>Bij een individuele studentenweergave verwijst geel naar het totaal aantal inhouden dat door de peers van de student werd verwerkt. </li>
            <li>Blauw = groepsgemiddelde per week. Je ziet hier of de student minder of meer dan het gemiddelde van zijn/haar groep heeft gedaan. </li>
        </ul>
        Natuurlijk vertelt het aantal bekeken inhouden alleen, niets over de kwaliteit van het leren. 
        <br />Het is belangrijk dat studenten zich zoveel mogelijk actief inzetten en een actieve leerhouding aannemen om te slagen voor het opleidingsonderdeel. 
        <br />Vergelijk deze gegevens dan ook met de volgende grafieken.
    </div>
    <span id="tooltip_graph_activity_by_chapter">
        <span class="highlight">Activity by chapter</span>: Deze grafiek toont hoe je aandacht voor de cursusinhouden gespreid is over de verschillende hoofdstukken en weken van de leerstof. 
        <br />Grotere bubbels betekenen dat meer activiteit gegenereerd werd voor specifieke hoofdstukken die elk getoond worden in een andere kleur. Als je over de bubbels gaat met de muis zie je het aantal logs per datum.
        <br />Gezien verwacht wordt dat je voorbereid naar de responsiecolleges/werkzittingen komt, zouden de bubbels ruwweg moeten overeenkomen met het wekenschema in de studieleidraad (zie weeknummers bovenaan). 
        <br />Na de lessenperiode en tijdens de examenvoorbereiding (zie grijze achtergrond) vertonen de meeste studenten een mix van activiteiten op hoofdstukken wanneer ze belangrijke cursusinhouden herhalen en nakijken.
    </span>
    <span id="tooltip_graph_activity_by_chapter_instructor">
        <span class="highlight">Activity by chapter</span>: De 3e grafiek toont op de tijdlijn van de cursus gekleurde bubbels voor de reële activiteiten van de studenten op specifieke hoofdstukken. 
        <br />Hoe groter de bubbels, hoe meer activiteit geregistreerd werd. De gekleurde achtergronden geven aan welke inhoud volgens het cursusschema gedurende een bepaalde week moet worden verwerkt. 
        <br />Grijze gebieden zijn lesvrije of examenvoorbereidingsweken. 
        <br />Met deze grafiek kan je nagaan of studenten op tijd de juiste inhouden verwerken om zich op de lessen voor te bereiden. 
        <br />In het menu 'All verbs' kan je het type activiteit selecteren, om bijvoorbeeld te zien of studenten alleen de oefeningen geopend hebben (‘accessed’) of ook gemaakt (‘completed’). 
        <br />Aan het begin van het semester kunnen de studenten mogelijk snel door de inhoud navigeren om een overzicht te krijgen van de online cursus om vervolgens later de oefeningen van de verschillende hoofdstukken op een meer gestructureerde manier te maken, conform het cursuschema.
    </span>
     <span id="tooltip_graph_time_spent_by_chapter">
        <span class="highlight">Time spent by chapter</span>: met deze grafiek kan je uitrekenen hoeveel tijd je tot nu toe aan de inhouden van de verschillende hoofdstukken besteed hebt. Je ziet ook het gemiddelde. 
         <br />Let er wel op dat de studietijd die nodig is voor iedereen anders is. 
         <br />De berekening houdt ook geen rekening met andere activiteiten die jij of medestudenten deden terwijl het browservenster open stond of anderzijds met de tijd die je offline studeerde.
     </span>
     <span id="tooltip_graph_time_spent_by_chapter_instructor">
        <span class="highlight">Time spent by chapter</span>: Waar de rangschikking van oefeningen en theoriepagina's een indicatie geeft van de tijd die aan specifieke activiteiten besteed werd, geeft deze grafiek een overzicht van hoeveel tijd per hoofdstuk in totaal besteed werd door de groep (groepweergave: groen) of gemiddeld door de groep (blauw). 
        <br />In de individuele studentenweergave geeft groen de tijd aan die door de student werd besteed; blauw vertegenwoordigt zijn / haar groepsgemiddelde. 
        <br />Je kan zo eenvoudig controleren of een bepaalde student boven of onder het groepsgemiddelde staat wat tijd op de verschillende hoofdstukken betreft. 
        <br />De getallen in de legende tonen de totale tijd (alle hoofdstukken) die door een individuele student of door de gemiddelde student besteed werd aan het online leren voor het opleidingsonderdeel. 
        <br />Let wel: de tijd die studenten nodig hebben varieert in grote mate en is sterk individueel bepaald.
     </span>
     <div id="tooltip_ranking_exercise_multiplecriteria">
        Met de rankings van de oefeningen kan je nagaan met welke inhouden de studenten zich het meest / minst mee bezig houden op basis van:
        <ol>
            <li>het gemiddeld aantal herhalingen voor die oefening (een latere sessie)</li>
            <li>de gemiddelde tijd op die oefening en</li>
            <li>de gemiddelde behaalde scores.</li>
        </ol> 
        De oefeningen worden gesorteerd van de meest naar de minst gebruikte (of van de laagste scores naar de hoogste scores) op basis van een combinatie van deze statistieken. 
         <br />Dit helpt je bij het identificeren van probleemgebieden waarvoor mogelijk meer uitleg in de les nodig is.

     </div>
     <div id="tooltip_ranking_theory_multiplecriteria">
        Met de rankings van theoriepagina’s kan je nagaan op welke theorie studenten het meest focussen op basis van 
        <ol>
            <li>het gemiddeld aantal herhalingen voor die pagina (latere sessie), </li>
            <li>de gemiddelde tijd besteed aan die pagina, </li>
            <li>het aantal geprinte pdf’s (kunnen off-line gestudeerd worden). </li>
        </ol>
        De pagina’s zijn gerankschikt op basis van een combinatie van deze metrieken. 
         <br/ />Je kan zo probleemgebieden identificeren waar tijdens de colleges mogelijk meer aandacht aan besteed moet worden. 
         <br />Weet wel dat de tijdsberekening fouten kan bevatten omdat de logging technisch niet kan onderscheiden of de aandacht van het scherm weg is gericht (venster mogelijk opengelaten of sessie timeout).
     </div>
    <div id="tooltip_ranking_student_performance_groups">
        Met deze rankings kan je bepalen welke studenten de afgelopen weken het minst (of meest) actief zijn geweest. Onderzoek heeft aangetoond dat tijdige en specifieke online activiteiten, zoals ten minste één sessie per week en voldoende pogingen op oefeningen correleren met studiesucces. 
        <br />Wanneer studenten voor de wekelijkse lessen toegang hebben tot de online materialen, hebben ze de beste kansen om het beste uit de werkzittingen en responsiecolleges te halen en een goed resultaat te behalen op het examen. Studenten die gerangschikt staan op de 'minst actieve' lijst scoren onder de mediaan of zelfs onder het lager kwartiel van een of meer van de metrieken van: 
        <ul>
            <li>aantal sessies, </li>
            <li>aantal geprobeerde oefeningen, </li>
            <li>aantal geopende theoriepagina's en </li>
            <li>laatste login (eerdere cohortes). </li>
        </ul>
        Deze studenten moeten mogelijk aangemoedigd worden of er aan herinnerd dat ze het online leren opnieuw moeten oppikken.
        <br />In de individuele studentenweergave is de relatieve positie van de student in de (linkse of rechtse) ranking in vergelijking met zijn/haar peers (groep) gemarkeerd in het geel.
        <br />Opmerking: Deze rangorde kan van week tot week variëren volgens de online activiteit van die periode. De rangorde geeft alleen een indicatie van de online inzet van de studenten en er kunnen geen conclusies worden getrokken op het vlak van hoe goed de student doet, aangezien hij of zij ook off-line met de inhouden van de cursus bezig kan zijn. 
        <br />Omgekeerd zullen studenten die zich in de rechterlijst bevinden (de meest on-line actieve studenten), niet noodzakelijkerwijs slagen voor het eindexamen.

     </div>
     <span id="tooltip_ranking_student_performance_group_b">
        <span class="highlight">xxx</span>: 
     </span>
     <span id="tooltip_ranking_student_performance_group_a">
        <span class="highlight">xxx</span>: 
     </span>
</div>