@*
    Project VITAL.Dashboard
    Copyright (C) 2017 - Universiteit Hasselt
    This project has been funded with support from the European Commission (Project number: 2015-BE02-KA203-012317). 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<script>
    onDocumentReady(function () {
        _courseInstanceDataInitialize();
        //GlobalRebuildDataFunctions.push(_courseInstanceDataInitialize);//Do not push rebuild function into global rebuild mechanism (infinite loop)
    });
    function _courseInstanceDataInitialize() {
        var parameters = {};
        //parameters["courseinstanceid"] = GetSelectedCourseInstance();//"@(ViewBag.CourseInstanceId)";
        parameters["logagentid"] = Cookies.get('user-id');
        GetData('@ViewBag.ApiUrl/v1/Data/CourseInstances', _courseInstanceDataLoaded, parameters)
       }
    function _courseInstanceDataLoaded(error, data) {
        var $select = $('#x_courseInstanceSelect');
        $select.find('option').remove();
        data = JSON.parse(data);
        for(var obj in data){
            $select.append('<option value=' + data[obj].Id + '>' + data[obj].Name + '(' + data[obj].AcademicYear + ')</option>');
        }

        $select.off("change", _courseInstanceSelectionChanged);
        $select.on("change", _courseInstanceSelectionChanged);

        console.log("_courseInstanceDataLoaded");
        _courseInstanceSelectionChanged();
    }
    function _courseInstanceSelectionChanged() {

        var queue_courseInstance = d3.queue();
        queue_courseInstance.defer(rebuildData);//Also rebuild the other combo's, which frequently depend on the selected courseInstance
        queue_courseInstance.awaitAll(function (error) {
            ///alert('after');
            //  buildChart_@(ViewBag.Key)();
            console.log('rebuildData complete; starting rebuildCharts;');
            rebuildCharts();
        //GlobalRebuildFunctions.push(buildChart_@(ViewBag.Key));
        });



        //rebuildData();//Also rebuild the other combo's, which frequently depend on the selected courseInstance
        //rebuildCharts();
    }
    
</script>