@*
    Project VITAL.Dashboard
    Copyright (C) 2017 - Universiteit Hasselt
    This project has been funded with support from the European Commission (Project number: 2015-BE02-KA203-012317). 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<script>
    onDocumentReady(function () {
        //_studentDataInitialize();
        GlobalRebuildDataFunctions.push(_studentDataInitialize);

    });

    function _studentDataInitialize(queueCallback) {
        var parameters = {};
        
        parameters["courseinstanceid"] = GetSelectedCourseInstance();//"@(ViewBag.CourseInstanceId)";
        parameters["logagentid"] = Cookies.get('user-id');
        GetData('@ViewBag.ApiUrl/v1/Data/Students', _studentDataLoaded, parameters, queueCallback)
    }
    function _studentDataLoaded(error, data) {
        var $select = $('#x_studentSelect');
        $select.find('option').remove();
        data = JSON.parse(data);
        for (var obj in data) {
            if (data[obj].ProgrammeId == null)
                data[obj].ProgrammeId = "";
            if (data[obj].Group == null)
                data[obj].Group = "";

            $select.append('<option value=' + data[obj].Id + ' data-student-programmeid="' + data[obj].ProgrammeId + '" data-student-group="' + data[obj].Group + '">' + data[obj].Name + '</option>');
        }

        $select.off("change", _studentSelectionChanged);
        $select.on("change", _studentSelectionChanged);
        console.log("_studentDataLoaded");
    }
    function _studentSelectionChanged() {
        var programmeCombo = document.getElementById("x_programmeSelect");
        if (programmeCombo) {//If the programme combo is also present, see if it needs updating.
            var option = document.getElementById("x_studentSelect").selectedOptions[0];
            if (option) {
                var pid = option.getAttribute("data-student-programmeid");
                var gid = option.getAttribute("data-student-group");

                var key = "";
                if (pid) {
                    key = pid;
                    if (gid)
                        key += "|" + gid;

                    var element = document.getElementById('x_programmeSelect');
                    element.value = key;
                    //document.querySelector('#programmeCombo > option[value="' + key + '"]').setAttribute('selected', true)
                }
            }
        }

        rebuildCharts();
    }
    
    
</script>